<div class="container-fluid board" *ngIf="me != undefined && players_status != undefined"
  [ngStyle]="{'background-image': 'url(/assets/img/zenbg_one.png), url(/assets/img/zenbg_two.png)'}">

  <div class="row dashboard">
    <div class="col-md-3">
      <div class="card bg-default">

        <h5 class="card-header">
          {{me.username}}

          <div class="row" *ngIf="whoHaveToBet() !== me.username">
            <div class="col-md-12" *ngIf="whoHaveToBet() !== undefined">
              {{whoHaveToBet()}} tiene que apostar!
            </div>
            <div class="col-md-12" *ngIf="whoHaveToBet() === undefined">
              A comerla!
            </div>
          </div>

          <div class="row" *ngIf="whoHaveToBet() === me.username">
            <div class="col-sm-6">
              <a class="btn btn-default block">Tenes que apostar!</a>
            </div>
            <div class="col-sm-6">
              <select (change)="sendBet()" [(ngModel)]="me.bet"
                [disabled]="me.username == players_status.last.username && !can_last_player_bet" class="form-control">
                <option *ngFor='let element of getAvailableBets(); let i = index' [value]='element'>
                  {{element}}
                </option>
              </select>
            </div>
          </div>

        </h5>


      </div>

    </div>

    <div class="col-md-3 text-white text-center general_messages">

      <p *ngIf="players_status != undefined && me.username === players_status.last.username"> Sos el ultimo en esta
        mano!</p>
      <p *ngIf='players_status && !all_bets_ready'> Todos tienen apostar antes de empezar! </p>
      <p *ngIf='players_status && players_status.current.username == me.username && all_bets_ready'
        class="text-uppercase"> Es tu turno! </p>
      <p *ngIf='players_status && players_status.current.username != me.username &&  all_bets_ready'> Es el turno de
        {{players_status.current.username}} </p>

      <p class="winner-board-cover text-center" *ngIf="hand_winner !== undefined">

        {{hand_winner.winner.username}} gano la baza!

      </p>
    </div>

    <div class="col-md-6">
      <table class="table table-sm table-hover table-striped" *ngIf='players_status'>
        <thead>
          <tr>
            <th>
              Jugador
            </th>
            <th>
              Apuesta
            </th>
            <th>
              Bazas
            </th>
            <th>
              Puntaje
            </th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let player of players_status.all"
            [ngClass]="{'bg-warning': player.id === players_status.current.id}">
            <td>
              {{player.username}}
            </td>

            <td>
              {{getPlayerBet(player.username)}}
            </td>

            <td>
              {{player.handsWon}}
            </td>
            <td>

              <span class="badge badge-danger">{{player.global_point}}</span>

            </td>

          </tr>

        </tbody>
      </table>
    </div>

  </div>

  <!-- ####################################################################################################### -->
  <div class="row all_cards">


    <div class="cards m-1" *ngFor='let playedCard of playedCards '>

      <p class="text-center text-uppercase">{{playedCard.player.username}}</p>
      <img [src]="'assets/img/'+playedCard.card.image+'.png'" alt="image">
    </div>


  </div>

  <!-- ####################################################################################################### -->
  <div class="my_cards" *ngIf="me != undefined ">

    <!-- <div class="disable-board-cover"
      [hidden]="players_status && players_status.current.username == me.username && all_bets_ready && hand_winner == undefined">
    </div> -->

    <img [src]="'assets/img/'+card.image+'.png'" alt="image" *ngFor='let card of me.cards ' (click)="sendCard(card)">
  </div>
  <!-- ####################################################################################################### -->

</div>

<!-- <div class="outer">

  <img _ngcontent-nhb-c41="" alt="image" class="cards " src="assets/img/copa_09.png">
  <img _ngcontent-nhb-c41=""
    alt="image" class="cards " src="assets/img/oro_02.png">
    <img _ngcontent-nhb-c41="" alt="image" class="cards "
    src="assets/img/basto_08.png">
    <img _ngcontent-nhb-c41="" alt="image"
    src="assets/img/oro_12.png">
    <img _ngcontent-nhb-c41="" alt="image" class="cards "
    src="assets/img/espada_11.png">
    <img _ngcontent-nhb-c41="" alt="image" class="cards "
    src="assets/img/copa_04.png">
    <img _ngcontent-nhb-c41="" alt="image" class="cards " src="assets/img/copa_01.png">

</div> -->
