.board {
  position: fixed;
  height: 100%;
  //padding: 20px;
  //border: 5px solid rgb(240, 45, 45);
  border-radius: 10px;

  background: #96780f;
  background-image: url("../../../assets/img/zenbg-1.png"), url("../../../assets/img/zenbg-2.png");
  background-repeat: repeat-x, repeat;

  .dashboard {

    background: #f1f1f1;
    position: relative;
    height: auto;
    //border: 2px solid rgb(45, 58, 240);
    border-radius: 10px;
    padding: 10px;

    .general_messages {

      border: 2px solid rgb(201, 45, 45);
      border-radius: 10px;

    }

  }

  .all_cards {
    position: relative;
    height: 35%;
    //width: 97%;
    margin: 10px;
    //border: 2px solid black;
    border-radius: 10px;
    //background-color: #29a745;
    padding: 10px;

    .cards {
      float: left;
      height: 95%;
      width: auto;

      p{
        color: white;
      }
      img {
        height: 85%;
      }
    }

  }

  .my_cards {

    position: absolute;
    bottom: 0;
    height: 35%;
    width: 97%;
    margin: 10px;
    border: 2px solid white;
    border-radius: 10px;

    .cards {

      float: left;
      height: 95%;
      width: auto;

    }
  }


}


.winner-board-cover {

  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  color: white;


}


.disable-board-cover {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: rgb(177, 172, 172);
  opacity: 0.5;
}
