.board {
  position: fixed;
  width: calc(100% - 330px);
  height: 100%;
  right: 0;
  top: 0;

  padding-top: 20px;
  resize: none;
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;

  .bets {
    padding: 10px;
    position: relative;
    height: auto;
    border: 1px solid black;
    border-radius: 10px;

    select {
      width: 100px;
    }

    .bet {}


  }

  .all_cards {
    position: relative;
    height: 35%;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #29a745;

    .card {
      float: left;
      height: 80%;
      width: auto;

      img {

        height: 80%;
      }
    }

  }

  .my_cards {
    position: relative;
    height: 45%;
    border: 2px solid black;
    border-radius: 10px;


  }

  .card {
    float: left;
    height: 80%;
    width: auto;

  }
}


.winner-board-cover {

  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  color: white;


}


.disable-board-cover {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: rgb(177, 172, 172);
  opacity: 0.5;
}
