<div class='sidenav'  *ngIf="players_status==undefined">


  <div *ngIf="userData === undefined">

    <div class="form-group">
      <label for="username">Pone tu nombre</label>
      <input type="text" class="form-control text-uppercase" id="username" [(ngModel)]='username'
        (keyup.enter)="join()">
    </div>

    <input type="button" class="btn btn-block btn-success" value="Entrar" (click)='join()'>
  </div>

  <!-- ####################################################################################################### -->

  <div class="users_list">

    <div *ngIf="connectedUsers.length > 0">

      <label class="text-uppercase">Jugadores Conectados</label>

      <div class="row" *ngFor='let user of connectedUsers '>
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
          <span [ngStyle]="{'color': user.color}" >
            {{ user.username }}
          </span>
        </div>
        <div class="col-md-4"></div>
      </div>
    </div>

  </div>


  <input
    *ngIf="userData !== undefined && !started && connectedUsers.length > 1 &&  connectedUsers[0].username === userData.username"
    type="button" class="btn btn-block btn-danger" value="Mandale Cumbia!!" (click)='start()'>

</div>
